<h1>Posts</h1>

<% @posts.each do |post| %>
  <div>
    <p style="font-size:20px;font-weight:bold;"><%= post.title %></p>
    <p><%= post.body %></p>

    <div>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post_path(post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you would like to delete this post?' } %>
    </div>
  </div>
<% end %>
