<% if user_signed_in? %>
  <h1 class="heading">Create a new Post</h1>
  
  <%= render 'form', post: @post %>
<% end %>

<h1 class="heading">Posts (<%= Post.count %>)</h1>

<% (@posts || Post.all).order('created_at DESC').each do |post| %>
  <div>
    <p>
      <strong><%= post.title %></strong>
      <% if user_signed_in? %>
        by <%= post.user.username %>
      <% end %>
    </p>
    <p><%= post.body %></p>

    <div>
      <%= link_to 'Show', post %>
      <% if current_user && current_user.id == post.user.id %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post_path(post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you would like to delete this post?' } %>
      <% end %>
    </div>
  </div>
<% end %>
