<h1>Posts</h1>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :title, style: 'display:block;' %>
    <%= form.text_field  :title %>
  </div>

  <div>
    <%= form.label :body, style: 'display:block;' %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

  <div>
    <p style="font-size:20px;font-weight:bold;"><%= post.title %></p>
    <p><%= post.body %></p>

    <div>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post_path(post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you would like to delete this post?' } %>
    </div>
  </div>
<% end %>
