<header class="header">
  <nav>
    <%= link_to 'Home', root_path, class: 'heading' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'heading' %>
  </nav>

  <div>
    <% if user_signed_in? %>
      <p>Welcome, <%= link_to current_user.username, edit_user_registration_path %></p>
      <%= link_to 'Log Out', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <% else %>
      <% if controller_name != 'sessions' %>
        <%= render 'layouts/header_login' %>
      <% end %>
    <% end %>
  </div>
</header>
